canvas {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	margin: 8vh auto;
}

#contagem {
	background-color: #222;
	color: #fff;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

@media (max-width: 540px) {
	canvas {
		width: 100%;
		height: 80%;
		margin: 6vh auto;
	}
}